<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.musicapp.cosymusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CosyMusic"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.AlbumActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ArtistActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PlayerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TopListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SongMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SongExpressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PlayHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyFavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--
adjustResize-调整模式：该模式下窗口总是调整屏幕的大小用以保证软键盘的显示空间；
        这个选项不能和adjustPan同时使用，如果这两个属性都没有被设置，系统会根据窗口中的布局自动选择其中一个。
        adjustPan-默认模式：该模式下通过不会调整来保证软键盘的空间，而是采取了另外一种策略，
        系统会通过布局的移动，来保证用户要进行输入的输入框肯定在用户的视野范围里面，从而让用户可以看到自己输入的内容
        stateHidden：进入Activity时不会自动弹出键盘，而是调用的时候再弹出
        -->
        <activity
            android:name=".base.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>